exec permissions.cfg

# you probably don't want to change these!
# only change them if you're using a server with multiple network interfaces
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;database=gtavrp;userid=root;password=Bella3681"


#required
start mapmanager
start chat
start spawnmanager
start fivem
start hardcap
start rconlog
#start scoreboard
start playernames
start map
start vBasic
start spikestrips

#custom scripts
start mysql-async
start policeManagement
start policeSystem
start clothing
start vehTowing

#other scripts
start railhouse
start online
start bob74_ipl
start pvp
start Ped
start cars
start repairtruck
start flatbed2
start flatbed3
start SSTY
start EngineToggle
start commands
start areaofplay
start ads


#addons
start loadingscreen
start blips
start club_B
start club_R
start racetrack
start VK_interiors
start ThereMap
start indicators
start simeonfix
start pNotify
start lux_vehcontrol
start lscustoms
start RealisticVehicleFailure
start outlawalert
start SandySigns
start GrapeseedSigns
start TowScript
start wraith_alpr
start cad-integration
start vMenu
start LegacyFuel
start Jailer


#script addons
start CustomScripts

#police vehicles
start Captain14_LSPD
start Captain14_Sheriff
start Captain14_FBI
start hwycars
start pol718
start polf430
start policeb
start polmav
start riot

#police skins
start detective
start ems
start hway
start police
start sheriff
start sheriffd
start swat


#Keep this here, it stops some errors
restart sessionmanager

sv_scriptHookAllowed 0

# change this and remove the # before rcon_password if you are using rcon, if not, leave this as is
rcon_password Bella3681

sv_hostname "City of Angels RP - Recruiting Cops/EMS/Fire"

# nested configs!
#exec server_internal.cfg

# loading a server icon (96x96 PNG file)
load_server_icon logo.png

# convars for use from script
set temp_convar "hey world!"

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

# add system admins
add_ace group.admin command.allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000107da364f group.admin

# hide player endpoints in external log output
sv_endpointprivacy true

# server slots limit (default to 30)
sv_maxclients 32

# Get a key from https://keymaster.fivem.net
sv_licensekey yqi1ifmmspfstkepyescfap131q8tcp0
